*{margin:0; padding:0;}
a:hover{text-decoration:none;}
@font-face {
    font-family: 'CircularStdBook';
    src: url('../fonts/CircularStdBook.eot');
    src: url('../fonts/CircularStdBook.eot') format('embedded-opentype'),
         url('../fonts/CircularStdBook.woff2') format('woff2'),
         url('../fonts/CircularStdBook.woff') format('woff'),
         url('../fonts/CircularStdBook.ttf') format('truetype'),
         url('../fonts/CircularStdBook.svg#CircularStdBook') format('svg');
}
body{font-family: 'CircularStdBook';font-size:15px;color:#262626;}
.btn {
    border: none;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
}
button:focus {outline: none;box-shadow: none;}
.btn.focus, .btn:focus{box-shadow:none;}
.btn.btn-primary{background:#0099b1;}
.btn.btn-primary:hover{background: #c70a12;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled):active:focus{border:none;background: #c70a12;box-shadow:none;}
.login {position: fixed;top: 0;background:url("../images/login_bg.png") no-repeat center top;right: 0;left: 0;bottom: 0; background-size:100% 100%;}
.login_panel { background: #fff; border-radius: 3px; width: 100%;max-width: 600px; margin: 100px auto; overflow: hidden;}
.login_logo {text-align: center;padding: 25px 0; background: #e7e7e7;}
.login_form { padding: 25px;}
.login_form h2{font-size:29px; color:#172127; text-align:center; margin-bottom:40px;}
.login_form .form-group{position:relative;}
.login_form input.form-control {border: none;border-bottom: 1px solid #ddd;border-radius: inherit;padding-left: 0;background: #fff;}
.login_form input:focus{outline:none; border:none;border-bottom: 1px solid #ddd;box-shadow:none;}
.login_user{background:url("../images/login_user_icon.png") no-repeat right top;}
.login_password{background:url("../images/login_pass_icon.png") no-repeat right top;}
.login_form i {width: 30px;height: 30px;position: absolute;right:0; top:0;}
.login_form .btn {font-size: 17px;text-transform: uppercase;font-weight: 500;}
/*===========================*/
#header {height:61px;position: fixed;left: 0;right:0;top:0;width:100%;display: -webkit-box;display:-ms-flexbox;display: block;background-color: #fff;box-shadow: 0 0 8px #cccc;z-index:999;padding-right: 15px;}
#sidebar {position: fixed;top: 0;bottom: 0;left: 0;padding-top: 61px;width: 220px;overflow: auto;z-index: 10;background:#0176af;-webkit-transition: left 0.3s ease,width 0.3s ease;-o-transition: left 0.3s ease, width 0.3s ease;transition: left 0.3s ease, width 0.3s ease; }
#wrapper{min-height: calc(100vh - 62px);margin-top: 62px;padding:15px 20px;-webkit-transition: margin-left 0.3s ease;-o-transition: margin-left 0.3s ease;transition: margin-left 0.3s ease;}
.logo {float: left;width: 220px; background: #fff;padding:16px 11px;}
.header_actions {float: right;}
.header_actions ul {
    margin: 0;
    display: inherit;
}
.header_actions ul li {display: inline-block;}
#sidebar ul li{position:relative;}
#sidebar ul li:last-child{border-bottom:none;}
#sidebar ul li a {
    color: #fff;
    padding: 12px 15px 12px 55px;
    font-size: 17px;
    display: block;
}
#sidebar ul li a:hover, #sidebar ul li.active a{color:#0099b1;background:#fff;}
#sidebar li i {margin-right: 20px;width: 28px;text-align: center;}
.app-sidebar__toggle {padding: 0 15px;color: #0099b1;line-height: 57px;-webkit-transition: background-color 0.3s ease;-o-transition: background-color 0.3s ease;transition: background-color 0.3s ease;float:left;
width: 47px;height: 60px;position: relative;z-index: 9;}
.search_box{box-shadow:0 4px 16px #eee;float: right; position:relative;width: 100%;max-width:350px;}
.search_box a {position: absolute;right: 0;top: 0;bottom: 0;width: 47px;line-height: 50px;   text-align: center;}
.search_box input {background: #fff;border: none;padding: 6px;height: 50px;width: 100%;}
.search_box input:focus {border-bottom: 1px solid #fff;outline: none; box-shadow: none;}
.search_box input::placeholder{color: #afcad9;}
.header_actions ul li a {padding: 16px 15px !important;color: #009bb1;display: block;}
.page_title {margin-bottom: 25px;}
.page_title h1{font-size: 30px;color: #d24e46;}
.breadcum {float: right;}
.breadcum ul li {display: inline-block;padding: 0 6px;}
.breadcum ul li{display:inline-block;}
.breadcum ul li.active a{color:#0099b1;}
.add_btn {padding: 15px 0;}
.footer {/*position: absolute;*/bottom:0;padding:10px 0;width:100%;z-index:99;text-align:center;}
.footer p {color: #fff;font-size: 14px;margin: 0;padding: 0;}
.switch {position: relative;display: inline-block;width: 40px;height: 20px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute; cursor: pointer;top: 0;left: 0; right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height:16px;width: 16px;left:2.7px; bottom:2px;  background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #0099b1;}
input:focus + .slider {box-shadow:none;}
input:checked + .slider:before {-webkit-transform: translateX(19px); -ms-transform: translateX(19px);transform: translateX(19px);}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.table th{color: #afcad9;border-top:none;}
.table td{color:#262626;}
.table td i.fa{margin:0 5px;font-size: 19px;}
.table td a {
    color: #009bb1;
}
.table td a i.fa.fa-trash{color:#ff5959;}
.modal-header {
    background: #0099b1;
    color: #fff;
    padding: 12px 15px;
}
.modal-content{border:1px solid #0099b1;}
.modal-title {text-transform:capitalize;
    margin-bottom: 0;
    font-size: 18px;
    line-height: normal;
}
.modal button.close {
    background: #fff;
    width:22px;
    height:22px;
    padding: 0;
    opacity: inherit;
    margin: 0;
    line-height: 17px;
    border-radius: 50%;
    font-size: inherit;
    color: #0099b1;
    position: absolute;
    right: -7px;
    top: -8px;
    border: 1px solid #0099b1;
}
.form-control::placeholder{color:#c1c1c1;}
.modal-content .btn{text-transform:uppercase;}
.table thead th {border-bottom:1px solid #dee2e6;background:#fff;font-size:16px;color: #afcad9; font-weight:normal;}
.table td {font-size: 18px;}

.user_name {
    float: left;
    width: 230px; font-size:16px; color:#262626;
    padding: 7px;
}
.user_name .user_img {
    width: 40px;
    height: 40px; border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    vertical-align: middle;
}
.user_name .user_img img{width:100%; height:100%;}
.logo_box {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 8px;
}
.table td, .table th{vertical-align:middle;}
.header_actions, .user_name {
    position: relative;
    z-index: 9;
}
span.img_box {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: middle;
}
span.dynamic-img img {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    vertical-align: middle;
}
span.img_box img{width:100%; height:100%;}
.side_bg_img {
    position: fixed;
    bottom: 12px;
}
#sidebar ul {
    height: 90%;
    margin: 0;
    position: relative;
    z-index: 9;
    overflow-y: auto;
}
.actions { width: 200px;}
.table thead th.email {
    width: 50%;
}
.back_to {
    color: #009ab1;
    font-size: 16px;
    margin-top: 18px;
    display: block;
}
.seller_img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.seller_img img{width:100%; height:100%;}
.seller_details span{font-size:16px; color:#262626;}
.seller_details label {color: #afcad9;min-width: 170px;}
.seller_details .entry-level .plan_head{ background: #eac435;}
.seller_details .subscribe_panel {float: left; width: 100%;box-shadow:0 0 8px #e6e1e1;}
.seller_details .plan_content {padding:12px 20px 0;float: left;}
.seller_details .plan_head {float: left;padding: 20px 0;text-align: center; width: 145px;}
.seller_details .plan_content li {font-size: 20px;color: #262626;list-style-type: none;}
.seller_details .entry-level h3 {color: #ea971c;}
.seller_details h3{margin-bottom:0;}
.seller_details h4{font-size: 20px;color: #fff;}
.plan_head img {width: 45px;}
.sold_img {display: inline-block;vertical-align: top;}
.seller_sold_item_detail {display: inline-block;vertical-align: top;padding: 0 15px;}
.seller_sold_item_detail h4{font-size:18px; color:#262626; font-weight:600;}
.seller_sold_item_detail label{display:block;}
.seller_sold_item_detail label span {font-weight: 600;margin: 0 10px;}
.Main_sold_panel {padding: 25px 0;border-top:1px solid rgba(175, 202, 217, 0.34901960784313724);border-bottom: 1px solid rgba(175, 202, 217, 0.34901960784313724);}
.Rd_button{padding:25px 0;}
#sidebar ul li a img {position: absolute;left: 20px;top: 12px;}
img.hover_img {display: none;}
#sidebar ul li a:hover img{display:none;}
#sidebar ul li a:hover .hover_img, #sidebar ul li.active .hover_img{display:inline-block;}
.dashboard_slots{padding:54px 54px 0;}
.record_box {color:#fff; border-radius:6px; padding:30px;margin:0 20px;}
.record_box h4 {font-size:18px;margin: 10px 0 0;}
.record_box h3 {font-size:32px;margin:0;}
.seller_bx{background: -moz-linear-gradient(left, #d24b83 0%, #e96565 100%);
background: -webkit-linear-gradient(left, #d24b83 0%,#e96565 100%);
background: linear-gradient(to right, #d24b83 0%,#e96565 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d24b83', endColorstr='#e96565',GradientType=1 );}
.user_bx{
background: #714494;
background: -moz-linear-gradient(left, #714494 0%, #a54292 100%);
background: -webkit-linear-gradient(left, #714494 0%,#a54292 100%);
background: linear-gradient(to right, #714494 0%,#a54292 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#714494', endColorstr='#a54292',GradientType=1 ); }
.orders_bx{
background: #eaa021;
background: -moz-linear-gradient(left, #eaa021 0%, #ebc939 100%);
background: -webkit-linear-gradient(left, #eaa021 0%,#ebc939 100%);
background: linear-gradient(to right, #eaa021 0%,#ebc939 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaa021', endColorstr='#ebc939',GradientType=1 );}
.Order_table span.img_box {border-radius: inherit;height: auto;margin: 0;}
.Graph{text-align: center; }
.graph_panel{padding:70px 0 0;}
.graph_img_text {padding: 15px 0 0;}
.graph_img_text li {display: inline-block;padding: 10px;}
.graph_img_text li span {width: 20px;height:20px;vertical-align:top;display: inline-block;border-radius: 50%;margin-right: 10px;}
.graph_img_text li .seller_color{background:#ff7e7e;}
.graph_img_text li .users_color{background:#1aa5b9;}
.graph_img_text li .admin_color{background:#b969a8;}
.graph_img_text h5{font-size:16px;color:#afcad9;}
.setting_panel {padding: 20px 50px;}
.setting_panel label {color:#afcad9;min-width: 140px;}
.setting_panel span a { margin-left: 20px; font-size:16px; color:#009ab1;}
.Profile_image_box{width:40px; height:40px; display:inline-block;}
.Profile_image_box img{width:100%; height:100%;}
.setting_panel input {border: none;background: #fff;box-shadow: 0 2px 8px #eee;    padding: 10px 15px; min-width: 300px;}
.setting_panel input:focus{outline:none; border:none;}
.total_revenue_boxes{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3ecf2+0,f7fafb+100 */
background: #e3ecf2; /* Old browsers */
background: -moz-linear-gradient(left, #e3ecf2 0%, #f7fafb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #e3ecf2 0%,#f7fafb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #e3ecf2 0%,#f7fafb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ecf2', endColorstr='#f7fafb',GradientType=1 ); /* IE6-9 */ border-radius:4px;}
.revenue_box{padding:27px 10px 27px 50px; background:url(../images/revenue_border.png) no-repeat right center;}
.revenue_box h4{font-size:18px; margin:0;}
.revenue_box h2{font-size:32px; margin:0;}
.revenue_box.TotalBalance{
background: #cb438c;
background: -moz-linear-gradient(left, #cb438c 0%, #ea6763 100%); /* FF3.6-15 */
/* background: -webkit-linear-gradient(left, #cb438c 0%,#ea6763 100%); /* Chrome10-25,Safari5.1-6 */ */
background: linear-gradient(to right, #cb438c 0%,#ea6763 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb438c', endColorstr='#ea6763',GradientType=1 ); /* IE6-9 */}
.TotalBalance{color:#fff;border-radius:4px;}
.revenue_box.Today {background: none;}
.Select_date > span{background:url(../images/DatePicker_icon.png) no-repeat left top;padding-left:45px;line-height:38px;margin:25px 0;display:block;font-size:16px;color:#009bb1;cursor: pointer;}
#Subscription_btns a.btn.btn-primary {background:#0171af;}
.Choose_plan_color { background: url(../images/Choose_plan_color.png) no-repeat right top;   padding:10px 53px 10px 5px;margin-top: -3px;color: #009ab1;display: inline-block;}
div#Subscription_btns a {min-width: 170px;}
.Subscriptions_Plans .form-control {box-shadow:0 4px 16px #eee;border: none;}
.New_plan{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#026caf+0,0091b0+100 */
background: #026caf; /* Old browsers */
background: -moz-linear-gradient(left, #026caf 0%, #0091b0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #026caf 0%,#0091b0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #026caf 0%,#0091b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#026caf', endColorstr='#0091b0',GradientType=1 ); /* IE6-9 */ font-size:16px; color:#fff; padding:12px 15px;min-width:176px;min-width: 176px;display: inline-block;text-align: center;border-radius:5px;}
.New_plan:hover{background:#1f7cae; color:#fff;}
.plan_row {margin-bottom: 30px;}
.subscription_boxes .revenue_box.TotalBalance, .subscription_boxes .revenue_box.EntryBalance, .subscription_boxes .revenue_box.IntermediateBalance, .subscription_boxes .revenue_box.ExpertBalance{border-radius: 0;text-align:left;}
.Plan_box {background:#fff;box-shadow: 0 2px 11px #ddd;}
.subscription_boxes .revenue_box{padding: 7px 10px;text-align: center;height: 114px; position: relative;display: table-cell;vertical-align: middle;width: 500px;}
.subscription_boxes .revenue_box.TotalBalance {padding-left: 67px;}
.Plan_img {position: absolute;top: 25px;left: 0;display: inline-block;width: 60px;vertical-align: top;padding-top: 7px;    margin-right: 8px;}
.Plan_img img{width:100%;}
.plan_name {color: #fff; font-size: 20px; display: table-cell; height: 100px; vertical-align: middle;width:300px;}
.subscription_boxes .revenue_box h4 span{display: block;font-size: 24px;}
.subscription_boxes h3{font-size:30px; color:#ea971b; font-weight:600;}
.subscription_boxes .actions{height: 114px;vertical-align: middle;display: table-cell; text-align: center;width:800px;}
.subscription_boxes .actions i{ font-size:24px;margin:0 5px;}
.subscription_boxes .actions .fa.fa-edit {color:#009bb1;}
.subscription_boxes .actions .fa.fa-trash {color:#ff5959;}
.subscription_boxes .EntryBalance{
background: #ea9b1e;background: -moz-linear-gradient(left, #ea9b1e 0%, #ebcf3c 100%);background: -webkit-linear-gradient(left, #ea9b1e 0%,#ebcf3c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ea9b1e 0%,#ebcf3c 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9b1e', endColorstr='#ebcf3c',GradientType=1 );}
.subscription_boxes .IntermediateBalance{background: #47579b;background: -moz-linear-gradient(left, #47579b 0%, #1389ab 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #47579b 0%,#1389ab 100%);background: linear-gradient(to right, #47579b 0%,#1389ab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47579b', endColorstr='#1389ab',GradientType=1 ); /* IE6-9 */}
.subscription_boxes .ExpertBalance{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b24191+0,714494+100 */
background: #b24191; /* Old browsers */
background: -moz-linear-gradient(left, #b24191 0%, #714494 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #b24191 0%,#714494 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #b24191 0%,#714494 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b24191', endColorstr='#714494',GradientType=1 ); /* IE6-9 */}
/*kushal css start*/
.upload_img{text-align: center;}
.upload_img span {background: #de5974;width: 100px;height: 100px;display: inline-block;border-radius: 50%;text-align: center;overflow: hidden;}
.upload_img span img {width: 100%;height: 100%;}
.upload_img i.fa.fa-plus {background: #8c4392; color: #fff;padding: 6px 0;width: 25px; height: 25px;border-radius: 50%;position: relative;top: -14px;}
.upload_img em {font-size: 17px;font-style: normal;display: block;}
.become_seller-panel h5 {margin-bottom:18px;}
.gender {margin-top: 35px;}
.gender h5{color:#9d92b4;margin-bottom: 10px;}
/* The radio and checkbox */
.radio {line-height: 30px;display: block;position: relative;padding-left: 30px;margin-bottom: 12px;cursor: pointer;font-size:16px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.radio input {position: absolute;opacity: 0;cursor: pointer;}
.checkround{position: absolute;top: 6px;left: 0;height: 20px;width: 20px;background-color: #fff ;border-color:#fe5a59;border-style:solid;border-width:1px;border-radius: 50%;}
.radio input:checked ~ .checkround{background-color: #fff;}
.checkround:after {content: "";position: absolute;display: none;}
.radio input:checked ~ .checkround:after {display: block;}
.radio .checkround:after{left:3px;top:3px;width: 12px;height: 12px;border-radius: 50%;background:#fe5a59;}
.check {display: block;position: relative;padding-left: 25px;margin-bottom: 12px;padding-right: 15px;cursor: pointer;font-size: 18px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.check input { position: absolute;opacity: 0;cursor: pointer;}
.checkmark {position: absolute;    top:4px;    left:0;height:18px;width:18px;background-color:#fff ;border-color:#f0c5d6;border-style:solid;border-width:1px;border-radius: 3px;}
.check input:checked ~ .checkmark {background-color: #fff;}
.checkmark:after{content: "";position: absolute;display: none;}
.check input:checked ~ .checkmark:after {display: block;}
.check .checkmark:after{left: 10px;top: -6px;width: 6px;height: 17px;border: solid;border-color: #a34d98;border-width: 0 1px 1px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
/*kushal css end*/
.has-error, label.error {color: red !important;}
.custom-file-input{opacity:inherit;}
.pagination {display: inline-block; margin-right: 120px;}
.pagination span, .pagination a {color: #afcad9;padding: 0 5px;font-weight: 600;}
.pagination .active span { color: #000;}
.pagination li {display: inline-block;}
.per_Page {display: inline-block;color: #afcad9;font-weight: 600;}
.entriesperpage { box-shadow:0 4px 16px #eee;background-color:  #fff;   border: none;  padding:5px 24px 5px 10px;    -moz-appearance: none;    -webkit-appearance: none;}
#subscription-plan-form label {margin-top: 7px;}
select{-moz-appearance:none; -webkit-appearance:none;background:url("../images/select_aero.png") no-repeat right 15px; }

.imagesNew {position: fixed;z-index: 99999;width: 100%;height: 100%;top: 0;left: 0;}
.main {
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
}
.upload {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.upload > p {
    display: table-cell;
    color: #999;
    text-align: center;
    vertical-align: middle;
}
.browse {
    margin-left: 4px;
    color: #0074d9;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.header {
    padding-left: 24px;
    padding-right: 24px;
}
.header {
    position: relative;
    z-index: 1;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #666;
}
.menu {
    float: right;
}
.menu__button {
    float: left;
    display: block;
    width: 48px;
    height: 48px;
    border-width: 0;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
.menu__button:hover {
    background-color: #0074d9;
    color: #fff;
}
.menu__button--success:hover {
    background-color: #2ecc40;
}
.menu__button--danger:hover {
    background-color: #ff4136;
}

.form-group select{background:url("../images/select_aero_blue.png") no-repeat right 17px;}
a.app-sidebar__toggle {display: none;}
.Revenu_panel {padding: 25px 0;border-bottom: 1px solid rgba(175, 202, 217, 0.34901960784313724);}
.btn.btn-success, .btn.btn-danger, .btn.btn-secondary {color: #fff;}
.Select_date .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{position: absolute;z-index: 99;}




        #zoomImg .myImg {
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
        }

        #zoomImg .myImg:hover {opacity: 0.7;}

        /* The Modal (background) */
        #zoomImg .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        #zoomImg .modal-content {
          margin:15px auto;
          max-height: 500px;
          overflow-y: auto;
          display: block;
          width: 80%;
          max-width: 700px;
        }
        #zoomImg .img01 {
            width: 100%;
        }
        /* Caption of Modal Image */
        #zoomImg .caption {
          margin: auto;
          display: block;
          width: 80%;
          max-width: 700px;
          text-align: center;
          color: #009ab1;
          padding: 10px 0;
        }

        /* Add Animation */
        #zoomImg .modal-content, #zoomImg .caption {
          -webkit-animation-name: zoom;
          -webkit-animation-duration: 0.6s;
          animation-name: zoom;
          animation-duration: 0.6s;
        }

        @-webkit-keyframes zoom {
          from {-webkit-transform:scale(0)}
          to {-webkit-transform:scale(1)}
        }

        @keyframes zoom {
          from {transform:scale(0)}
          to {transform:scale(1)}
        }

        /* The Close Button */
        #zoomImg .closeModal {
            position: absolute;
            top: 0px;
            right: 10px;
            color: #f1f1f1;
            font-size: 30px;
            font-weight: bold;
            transition: 0.3s;
        }

        #zoomImg .closeModal:hover,
        #zoomImg .closeModal:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
        }
        .se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(../images/Preloader_3.gif) center no-repeat rgba(176, 104, 168, 0.6588235294117647);}

        #description {
          height: 100px;
          resize: none;
        }
        .myImg { cursor: pointer;width: 100px;height: 70px;}

        #Add_FAQ .btn_link{line-height: 38px;}
 .qst {margin: 15px 0 50px;}
  .qst span {
      position: absolute;
      left: 0;
      top: 0;
  }
 .qst .ans, .qst h4{padding-left:30px; position: relative;}

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
          #zoomImg .modal-content {
            width: 100%;
          }
        }




@media (min-width: 1170px)
{
  #zoomImg .modal-content {
    height:600px;
}
#zoomImg .img01 {
    width: 100%;
      height: 100%;
}

}
@media (min-width: 768px)
{
#wrapper {margin-left:219px;position: relative;z-index:99;}
.main_wrapper.active #wrapper { margin-left: 0;}
.main_wrapper.active #sidebar{width:0;}
#Add_FAQ .modal-dialog {max-width: 700px;}
}

/*28-08-2019*/
.qst h4{float: left;}
.qst .ans{clear: both;    padding-top: 10px;}
.qst .ans span{top: 25px;}
.ans:before {
    background-color: #d24e46;
    content: "";
    position: absolute;
    left: 20px;
    top: 30px;
    width: 1px;
    height: 120px;
}
#wrapper {
    background: rgba(164, 238, 247, 0.2);
}
.notification_menu a{ position: relative;}
.notification_menu a::after { display: none;}
.notification_menu em {font-style: normal;font-size: 11px; color: #fff;   background: #2e75ab;   width: 20px;    height: 20px;    border-radius: 50%;    display: inline-block;    position: absolute;    text-align: center;    line-height: 20px;    top: 8px;    right:-2px;}
.notification_menu i{ font-size: 20px;}
.notification_menu .dropdown-menu.show {
    right: 0;
    transform: inherit !important;
    left: inherit !important;
    top: 58px !important;
    margin: 0 !important;
    padding: 0;
}
.notification_menu .dropdown-menu.show a {
    padding: 5px 15px !important;
    border-bottom: 1px solid #eee;
}





















/************************** Responsive Css Start Here **************************/
@media (max-width:1024px)
{
.record_box {padding:19px;margin:0;}
.record_box img {width: 100%;height: 100%;}
.graph_img_panel img {width: 100%;}
.back_to {font-size: 13px;}
.seller_details .plan_head {padding: 10px 18px;}
.seller_details .plan_content {padding: 12px 8px 0;}
.seller_details .plan_content li {font-size: 14px;}
span.img_box {margin-right: 10px; width: 70px;height: 70px;}
.table td, .table td i.fa {font-size: 16px;}
.revenue_box {padding:20px 6px 20px 6px;}
.revenue_box h4 {font-size: 16px;}
.revenue_box h2 {font-size: 28px;}
.subscription_boxes .revenue_box.TotalBalance {padding-left: 10px;text-align: center;}
.Plan_img {position:static;display:inline-block;width: 40px;}
.plan_name {font-size:16px;height:58px;line-height:20px;}
}
@media (max-width:990px)
{
.back_to {font-size: 12px;margin-top: 7px;}
.page_title h1 {font-size: 30px;}
.seller_details .plan_head {padding: 10px 14px;}
span.img_box {margin-right:8px; width:50px;height:50px;}
}
@media (max-width: 768px)
{
#sidebar{width:0;}
.main_wrapper.active #sidebar {z-index: 999;width: 230px;}
a.app-sidebar__toggle{display: inline-block;}
#wrapper {margin-left: 0;}
.table td, .table td i.fa {font-size:15px;}
.side_bg_img {display: none;}
.New_plan{min-width: inherit; display: block;}
}
@media (max-width:640px)
{
.logo_box {position: static;display: inline-block;}
#sidebar ul {height: auto;}
.footer {position: static;}
.search_box {float: left;}
.table td, .table td i.fa {font-size:13px;}
.record_box img {max-width: 100px;}
.record_box {margin: 0 0 20px;}
.setting_panel input {min-width:195px;}
.revenue_box {background: none;}
.subscription_boxes .revenue_box, .plan_name{width:800px;    font-size: 20px;}
form#subscription-plan-form .text-right {text-align: left !important;}
#Subscription_btns .col-md-6 {width: 50%;}
form#subscription-plan-form #Subscription_btns .text-right {text-align: right !important;}
select#uploads {margin-bottom: 10px;}
}
@media (max-width:480px)
{
.user_name {width: 170px;}
.table td, .table th {padding: 5px;}
.actions{width:auto;}
.setting_panel span a {float: right;}

}
@media (max-width:414px)
{
#header {height: 113px;}
#wrapper {min-height: calc(100vh - 110px);margin-top: 110px;}
.setting_panel {padding: 5px;}
.setting_panel input {min-width: 100%;}
.setting_panel span a {float: left;margin: 10px 0;width: 100%;}
.offset-2 {margin: 0;}
.seller_sold_item_detail {padding: 15px 15px 0;}
}
@media (max-width:375px)
{

}
@media (max-width:320px)
{

}
