/*================= Custom CSS By Developer ====================*/
label.error {
    /*border: 1px solid #f0c5d8;*/
    color: red;
}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin:40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width:8px;
    height: 14px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
	#loader-section {
  z-index: 9999999;
  top: 0; text-align: center;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.66);
  padding-top: 17%;
}
.has-error,.mark-mandantry {
  color:#F16C69;
}
.error {
  color:#F16C69;
}
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

#seller-design-error {
	margin-top: 10px;
	margin-left: 165px;
}

.user_img_box123{display: inline-block;border-radius: 50%;text-align: center;overflow: hidden;}

.is-invalid {
    border: 1px solid #e4d9de !important;
    background-image:none!important;
}
 .was-validated .form-control:invalid{background-image:none!important;}

/* 28-06-2019 */
.details_order h4 {font-size: 18px;color: #d44b7f;;}
.details_order p {margin-bottom: 5px;font-weight: normal;font-size: 14px;}
.details_order p span{font-weight: 600;color: #333;}
.title_heading.text-right {margin: 145px 0 0;}
.details_order p.name_billing {font-weight: 600;}
.details_order {background: #f8eff4;padding: 15px;border-radius: 5px;}
.designer_uploads_section table .favTr:nth-child(2n) {background: #f8eff4;}
.add_rating_btn {padding: 5px 10px;display: inline-block;background: #ff5959;border-radius: 20px;font-size: 14px;margin-top: 10px;color: #fff;font-weight: 500;cursor: pointer;}
.Rate {
    border: 1px solid #eee;
}
.rating-stars {
    padding: 3px 0;
    border-bottom: 1px solid #eee;
    min-height: 33px;
}
.Rate div {
    padding: 10px;
}
.Rate .form-control{border: 1px solid #eee}
.Rate h3 {
  border-bottom: 1px solid #eee;
  font-size: 20px;
  padding: 10px;
  color: #4d53a1;
}
.my-rating-design .modal-header {
    border-bottom: 1px solid #eee;
    background: #f8eff4;
}
.Rate .btn.btn-primary {
    padding: 8px 25px;
}


/* Code For FAQ */

.accordion_head {
  background-color: #d54b7e;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  margin: 0 0 1px 0;
  padding: 7px 11px;
  font-weight: bold;
}

.accordion_body {
  background: #fdf2f4;
}

.accordion_body p {
  padding: 18px 5px;
  margin: 0px;
  word-break: break-all;
}

.plusminus {
  float: right;
}

#faq_panel{ word-break: break-all;}
