/*================= Global Css Start Here ====================*/
*{margin:0;padding:0;}
@font-face {font-family:'CircularStdBook';src:url('../fonts/CircularStdBook.eot');src:url('../fonts/CircularStdBook.eot') format('embedded-opentype'), url('../fonts/CircularStdBook.woff2') format('woff2'),
url('../fonts/CircularStdBook.woff') format('woff'),   url('../fonts/CircularStdBook.ttf') format('truetype'),url('../fonts/CircularStdBook.svg#CircularStdBook') format('svg');}
body {font-family:'CircularStdBook';font-size:14px;}
a {color:#262626;text-decoration:none;}
a:hover{color:#ff5a58;text-decoration:none;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {display:inline-block;}
ul{list-style-type:none;}
p {font-size:16px;}
* html .clearfix{height:1%;}
.clearfix {display:block;}
.form-control {height: 50px;border: 1px solid #f0c5d8;}
.form-control::placeholder, select.form-control{color:#9d92b4;}
.btn {border: none;padding: 13px 26px;}
.btn-primary{background:#ff5959; color: #fff; text-transform: capitalize;}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{background: #E5619B;}
.btn-primary.focus, .btn-primary:focus{box-shadow: 0 0 0 0.2rem rgba(229, 97, 155, 0.52);}
.form-control:focus {border-color: #f0c5d8;box-shadow:0 0 0 0.2rem rgba(229, 97, 155, 0.26);}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 0.2rem rgba(229, 97, 155, 0.26);}
.spacer15 {margin:15px 0;float: left;width: 100%;}
textarea{resize: none;}
/* The radio and checkbox */
.radio {line-height: 30px;display: block;position: relative;padding-left: 30px;margin-bottom: 12px;cursor: pointer;font-size:16px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.radio input {position: absolute;opacity: 0;cursor: pointer;}
.checkround{position: absolute;top: 6px;left: 0;height: 20px;width: 20px;background-color: #fff ;border-color:#fe5a59;border-style:solid;border-width:1px;border-radius: 50%;}
.radio input:checked ~ .checkround{background-color: #fff;}
.checkround:after {content: "";position: absolute;display: none;}
.radio input:checked ~ .checkround:after {display: block;}
.radio .checkround:after{left:3px;top:3px;width: 12px;height: 12px;border-radius: 50%;background:#fe5a59;}
.check {display: block;position: relative;padding-left: 25px;margin-bottom: 12px;padding-right: 15px;cursor: pointer;font-size: 18px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.check input { position: absolute;opacity: 0;cursor: pointer;}
.checkmark {position: absolute;    top:4px;    left:0;height:18px;width:18px;background-color:#fff ;border-color:#f0c5d6;border-style:solid;border-width:1px;border-radius: 3px;}
.check input:checked ~ .checkmark {background-color: #fff;}
.checkmark:after{content: "";position: absolute;display: none;}
.check input:checked ~ .checkmark:after {display: block;}
.check .checkmark:after{left: 10px;top: -6px;width: 6px;height: 17px;border: solid;border-color: #a34d98;border-width: 0 1px 1px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.link-text {color: #fe5a59;}
a.change_pwd.link-text{margin-top: 10px;display: block;}
.modal-backdrop {background-color: #b068a8;}
/*================= Global Css End Here ======================*/

/*================= Header Css Start Here ====================*/
header{box-shadow:0 0 12px rgb(236, 174, 174);float:left;width:100%;padding:10px 0;}
.search_top_link {margin-top:15px;}
#custom-search-input{padding:3px;border:solid 1px #f0c5d8;border-radius:6px;background-color:#fff;}
#custom-search-input input{border:0;box-shadow:none;height:42px;}
#custom-search-input button{margin:4px 0 0 0;background:none;box-shadow:none;border:0;font-size:17px;  color:#ff5959; padding:5px 10px;}
#custom-search-input button:hover{border:0;box-shadow:none;}
.Top_links a {margin: 12px; display: inline-block;font-size: 17px;cursor: pointer;}
.Top_links a.active{color:#ff5a58;}
.Top_links .dropdown, .user_img_box {display: inline-block;}
.Top_links .dropdown-menu.show {left: inherit !important; width: 89px;right: 0;transform: inherit !important;top: 40px !important;padding: 0;min-width:inherit;}
.Top_links .dropdown-menu.show a {display: block; margin: 0;padding: 5px 15px; font-size: 14px;}
.Top_links .dropdown-toggle::after{display: none;}
.Top_links i.fa.fa-angle-down {color:#ff5959;}
.dropdown-item.active, .dropdown-item:active, .Top_links .dropdown-menu.show a:hover {background-color:#ff5959;color:#fff;}

/*================= Header Css End Here ======================*/

/*================= Middle Wrapper Css Start Here ====================*/
.main_content_wrapper{float:left;width:100%;padding:0 0 30px 0;}
.title_heading{margin:30px 0;}
.title_heading h2{color:#d44b7f;font-size:48px;}
/*================= Middle Wrapper Css End Here ======================*/

/*================= Footer Css Start Here ====================*/
.footer {background: #4d53a1;padding: 30px 0 10px; color: #fff;}
.footer h4{margin-bottom:20px;}
.footer ul li span {width: 155px; float: right;}
.footer ul li { margin-top: 13px;}
.social_links li {display: inline-block; margin: 0 6px;}
.footer ul li a {color: #fff;display: block;}
.social_links a { background: url("../images/social_links.jpg") no-repeat left top;
width: 30px;height: 30px;display: inline-block;}
.social_links a.facebook-link{ background-position: 0 0;}
.social_links a.twitter_link{ background-position: -48px 0;}
.social_links a.pinterest_link{ background-position:-94px 0;}
.social_links a.instagram_link{ background-position:-142px 0;}
.footer p{ margin: 0;}
.footer ul li a:hover{color:#ff5a58;}
@media (min-width:768px)
{
.footer ul {border-right: 1px solid #424894;min-height:158px;}
.footer .social_links {margin-top:112px;border:none; min-height: inherit;}
.padding_0 {padding: 0;}
.padding_left_0 {padding-left: 0;}
.padding_right_0 {padding-right: 0;}
}
/*================= Footer Css End Here =======================*/

/*================= User registration Css Start Here ====================*/
@media (max-width:480px)
{
.signup-form img.img-responsive {width:100%;}
}
/*================= User registration Css End Here ======================*/

/*================= Home Page Css Start Here ====================*/
.banner {background: url(../images/banner-bg.jpg) no-repeat center top; width: 100%;padding: 30px 0;}
.banner h1{font-size: 63px; color: #fff;text-shadow: 0 0 2px #000;}
.banner_search {padding: 25px 0;}
.banner .dropdown.dropdown-lg .dropdown-menu {margin-top: -1px; padding: 6px 20px;}
.banner .input-group-btn .btn-group { display: flex !important;position: static !important;}
.banner .btn-group .btn {border-radius: 0;margin-left: -1px;}
.banner .btn-group .btn:last-child {border-top-right-radius: 4px;  border-bottom-right-radius: 4px;}
.banner .btn-group .form-horizontal .btn[type="submit"] {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.banner .form-horizontal .form-group {margin-left: 0;margin-right: 0;}
.banner .form-group .form-control:last-child {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.banner_search .form-control {height: 70px;font-size: 22px; border: 1px solid #f0c5d8;}
.banner_search .btn {border: none; padding: 23px 35px;}
.banner .dropdown.dropdown-lg .dropdown-menu {transform: inherit !important;top: 70px !important;}
.banner #adv-search {background: #fff; margin: 0 auto;border-radius: 4px;}
@media screen and (min-width: 768px) {
.banner #adv-search {width:750px;}
.banner .dropdown.dropdown-lg {position: static !important;}
.banner .dropdown.dropdown-lg .dropdown-menu {min-width:631px;}
.banner_search .dropdown-menu .form-control {height: 50px; font-size: 14px; border: 1px solid #f0c5d8;}
.banner_search .dropdown-menu .btn {padding: 13px 35px;}
.navigation .navbar-nav.mr-auto {height: 40px;}
.designer_settings-panel {min-height: 258px;}
}
/*Featured_categories*/
.Featured_categories {padding:20px 0;}
.section_head {margin-bottom: 25px;}
.Feature_box {width: 18.9%;display: inline-block;margin-right:1%;}
.Feature_box:last-child{margin-right:0;}
.Feature_box .img_box img{width:100%;}
.Feature_box .image_title {padding: 10px 0;}
/*special_schools*/
.special_schools {float: left;background:url(../images/special-school.jpg) no-repeat center top;width: 100%;margin: 20px 0 0;}
.special_school_panel {padding: 25px 0; color: #fff;}
.special_school_panel h3 {color: #ff5959; font-size: 48px;}
.special_school_panel h3 span{ font-size: 30px; color:#fff;}
.special_school_panel a.btn.btn-primary {margin-top: 47px;}
.special_school_panel p {font-size: 20px;}
/*================= Home Page Css End Here ======================*/

/*================= Become Seller Page Css Start Here ====================*/
.upload_img{text-align: center;}
.upload_img span {background: #de5974;width: 100px;height: 100px;display: inline-block;border-radius: 50%;text-align: center;overflow: hidden;}
.upload_img span img {width: 100%;height: 100%;}
.upload_img i.fa.fa-plus {background: #8c4392; color: #fff;padding: 6px 0;width: 25px; height: 25px;border-radius: 50%;position: relative;top: -14px;}
.upload_img em {font-size: 17px;font-style: normal;display: block;}
.become_seller-panel h5 {margin-bottom:18px;}
.gender {margin-top: 35px;}
.gender h5{color:#9d92b4;margin-bottom: 10px;}

/*================= Become Seller Page Css End Here ======================*/

/*================= Subscribe Plan Page Css Start Here ======================*/
.subscribe_panel{text-align: center;margin-bottom:30px;}
.plan_head {background:#da537b;color:#fff;padding:35px 15px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de5974+0,d34d80+100 */
background: #de5974; /* Old browsers */
background: -moz-linear-gradient(top, #de5974 0%, #d34d80 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #de5974 0%,#d34d80 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #de5974 0%,#d34d80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de5974', endColorstr='#d34d80',GradientType=0 ); /* IE6-9 */}
.plan_content {box-shadow:0 9px 17px #e6e3e3;padding: 15px;}
.plan_content li {padding: 15px 0; font-size: 30px;}
.plan_content li span{display: block;  font-size:25px;}
.plan_button{padding: 15px 0;margin-top: 25px;}
.plan_button .btn {background: #d4507f;color: #fff;padding: 13px 60px;}
.entry-level .plan_head, .entry-level .btn {background:#eac435;}
.intermediate-plan .plan_head, .intermediate-plan .btn {background:#306da3;}
.expert-level .plan_head, .expert-level .btn {background:#954292;}
.plan_content h3 {color: #da537b;    font-size: 48px;  font-weight: 600;}
.entry-level .plan_content h3{color:#eac435;}
.intermediate-plan .plan_content h3{color:#306da3;}
.expert-level .plan_content h3{color:#954292;}
/*================= Subscribe Plan Page Css End Here ========================*/

/*================= Complete Registration Page Css Start Here ========================*/
.Complete_Registration{max-width: 600px;margin:0 auto;width: 100%;}
.Complete_Registration h4 {margin-top: 70px;}
/*================= Complete Registration Page Css End Here ========================*/

/*================= Designer Home Page Css Start Here ========================*/
.navigation {margin: 15px auto;max-width:850px;border-bottom:1px solid #e3cce0;width:100%;}
.navigation .navbar-nav.mr-auto {width: 100%;text-align: center; display: block;}
.navigation .navbar-nav li{display: inline-block;}
.navigation .navbar-light .navbar-nav .nav-link {color:#9e92b6; font-size: 17px;margin:7px 21px 0;padding: 0;padding-bottom: 8px;}
.navigation .navbar-light .navbar-nav .nav-link:hover{color:#252726;}
.navigation .navbar-light .navbar-nav li.nav-item.active a {color: #252726;border-bottom:3px solid #ff5959;}
.navigation nav.navbar {padding: 0;}
.last_latest_recent {max-width: 850px;margin: 40px auto 0;}
.last_latest_recent .panel {margin-bottom: 50px;}
.sold_panel {box-shadow: 3px 1px 18px #dbc1da;float: left;width: 100%;margin-top: 15px;}
.last_sold_box_img img {width: 100%;margin: -15px 0;}
.last_sold_box_cont {padding:15px 0;}
.last_sold_box_cont p {color: #9d91b5;margin: 0;}
.last_sold_box_cont p span {color: #2c2c2c;}
.paid_unpaid {text-align: center;margin-top: 54px;}
.paid_unpaid i.fa.fa-check {background:#84c102;height: 30px;width: 30px;display: inline-block;color: #fff;border-radius: 50%;padding: 9px;}
.paid_unpaid span{color:#84c102; display: block;text-transform: uppercase;padding: 0;}
.paid_unpaid span.check{color:#84c102;}
.customer_img {border-radius: 50%;width: 50px;height: 50px; overflow: hidden;}
.customer_img img{width:100%;height:100%;}
.detail_box{margin-top:25px;}
.total_balance {background: #d64e80;background: -moz-linear-gradient(left, #d64e80 0%, #e76565 100%);background: -webkit-linear-gradient(left, #d64e80 0%,#e76565 100%);background: linear-gradient(to right, #d64e80 0%,#e76565 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64e80', endColorstr='#e76565',GradientType=1 );padding: 15px;color: #fff;font-size: 17px;border-radius: 4px;}
.total_balance span, .last_balance span{ font-size:22px; display: block;}
.last_balance {margin: 15px 0;}
.transaction_history a {color: #ff595b;}
/******************  News Slider Demo-10 *******************/
.post-slide10 {margin: 0 7px;position: relative;box-shadow: 0 1px 2px rgba(43,59,93,0.30);}
.post-slide10 img{width: 100%;height: 100%;}
.owl-controls .owl-buttons{margin-top:20px;position:relative;}
.owl-controls .owl-prev{position: absolute;left: -40px;bottom: 73px;padding: 8px 17px;background:#333;transition:background 0.50s ease;}
.owl-controls .owl-next{position: absolute;right: -40px;bottom: 73px;padding:8px 17px;background:#333;transition:background 0.50s ease;}
.owl-controls .owl-prev:after, .owl-controls .owl-next:after{content:"\f104";font-family: FontAwesome;color: #fff;font-size:16px;}
.owl-controls .owl-next:after{content:"\f105";}
.owl-controls .owl-prev:hover, .owl-controls .owl-next:hover{background: #e74c3c;}
.owl-pagination {display: none;}
@media only screen and (max-width: 990px) {
.post-slide10{margin: 0 20px;}
.owl-controls .owl-buttons .owl-prev{left:-20px;padding:5px 14px;}
.owl-controls .owl-buttons .owl-next{right:-20px;padding:5px 14px;}
}
@media only screen and (max-width: 767px){
.owl-controls .owl-buttons .owl-prev{left:0px;bottom: 260px;}
.owl-controls .owl-buttons .owl-next{right:0px;bottom: 260px;}
}

#Recent_activity li { font-size: 17px;margin-bottom:10px;}
#Recent_activity li span {min-width: 354px;display: inline-block;}
#Recent_activity li a{color: #ff5a58;}
/*================= Designer Home Page Css End Here ==========================*/
/*================= Designer Portfolio Page Css Start Here ========================*/
.filter {padding: 10px 0;}
.filter p{color:#9e92b6;}
.filter p span{color:#252726;}
.portfolio_img img {width: 100%;}
.portfolio_content {padding: 15px 0;}
.portfolio_content p{color:#9e92b6;}
.portfolio_panel{padding:25px 0;}
.Add_design i{border:1px solid #fff;border-radius:50%;width:20px;height:20px;font-size:12px;padding:4px;}
.portfolio_box{margin-bottom:20px;}
.Add_design a.btn.btn-primary{color:#fff;}
.designModal .modal-title{width: 100%;text-align: center;font-size: 41px;color:#cd4689;}
.custom-file{outline: none;}
.custom-file-label {text-align: right;border:none;margin: 0;padding:14px 100px 15px 0;height: 50px;color:#fc5a57;}
.custom-file-label:focus{ outline: none;}
.custom-file-input:focus~.custom-file-label{border:none; box-shadow: none;}
.custom-file-label::after {height: 37px;background: #dcdcdc;padding: 9px 20px;color: #fff;border-radius: 4px;margin-top: 6px; cursor: pointer;}
.col-form-label {color: #9d92b4;font-size: 1rem;}
.asterisk {color: #fe5d62;}
.action_design label.check {color:#9d92b4;font-size: 16px;}
.limit {color: #cec7d7;font-size: 13px;}
.upload_img_btn {text-align:right; margin-top: 90px;}
#Add_Design button.close {position:absolute;right:20px;}
.close:focus{outline: none;}
/*================= Designer Portfolio Page Css End Here ==========================*/
/*================= Designer Uploads Page Css Start Here ==========================*/
.upload_cont {max-width: 600px;margin: 15px auto;}
.uploads_panel {margin: 30px 0 0;}
.table thead th {color: #9e92b6;font-size: 16px;font-weight: normal;}
.table td{vertical-align: middle;}
.uploads_panel table img {width: 130px;}
.uploads_panel table td{font-size: 18px;}
.uploads_panel table .edit {font-size: 30px; color:#fc5a57;}
.table thead th{color:#9e92b6;}
/*================= Designer Uploads Page Css End Here ============================*/
/*================= Designer Earnings Page Css Start Here ========================*/
.earnings_cont{margin-top:15px;}
.earnings_cont li.list-inline-item {padding-left: 25px; font-size: 16px;}
.earnings_cont img {vertical-align: text-bottom;margin-right: 6px;}
.Earnings_Category { margin-top: 50px;}
.Earnings_Category h5 {color: #000;font-size: 17px;}
.Earnings_Category h5 span{color:#9e92b6;min-width: 96px;display: inline-block;}
.Earnings_Category h5 em{font-style: normal;font-size: 28px;}
.customer_list_panel a.link-text {font-size: 16px;float: right;line-height: 31px;}
.customer_list_panel td {font-size: 16px;border: none;padding: 2px 5px;}
.customer_list_panel td.user_img span {width:50px;height:50px;display: inline-block;overflow: hidden;border-radius: 50%;}
.customer_list_panel td.user_img span img{width:100%; height:100%;}
.customer_list_panel td.username {min-width: 200px;}
.customer_list_panel {padding-top: 25px;}
.customer_list_panel .detail_box {padding: 25px;background: #f1f1f1; border-radius: 4px;margin: 0;}
.customer_list_panel h4 {font-size: 20px; margin-bottom: 10px;}

/*================= Designer Earnings Page Css End Here ==========================*/
/*================= Designer Settings Page Css Start Here ==========================*/
.designer_settings_section {padding: 35px 0 0;}
.designer_settings_section .gender {max-width: 108px;margin: 22px auto 0;}
ul#Account_Settings { width:23%;display: inline-block;vertical-align: top;border:none;}
.designer_settings-panel .tab-content { width:73%;display: inline-block; padding-left:4%;vertical-align: top;margin-top:8px;}
.designer_settings-panel a.nav-link.active {background: #ce4589;    color: #fff;}
.designer_settings-panel a.nav-link {padding: 12px;font-size:18px;border-radius: 4px;border:none;}
.designer_settings-panel li.nav-item i {margin-right: 10px;}
.designer_settings .nav-tabs .nav-link:focus, .designer_settings .nav-tabs .nav-link:hover{border:none; outline: none;}
.designer_settings-panel .tab-content label {font-size: 16px;color:#9e92b6; margin-top: 5px;}
.Left_panel_tab {width: 70%; display: inline-block;}
.Gender_info_Img_Gender {width: 29%;vertical-align: top;display: inline-block;}
.switch {position: relative;display: inline-block; width:65px;height:28px;}
.switch input {opacity: 0;width: 0;height: 0;}
.switch .slider {position: absolute;cursor: pointer;  top: 0;  left: 0;  right: 0;  bottom: 0;  background-color: #fff;  -webkit-transition: .4s;  transition: .4s;box-shadow: 0 0 8px;}
.switch .slider:before {position: absolute;  content: "";  height: 26px;  width: 26px;  left:1px;  bottom:1px;  background-color: white; -webkit-transition: .4s;  transition: .4s;    box-shadow: 0 0 8px;}
.switch input:checked + .slider {background-color:#ff5959;}
.switch input:focus + .slider {box-shadow: 0 0 1px #ff5959;}
.switch input:checked + .slider:before {-webkit-transform: translateX(26px);  -ms-transform: translateX(37px);  transform: translateX(37px);}
.switch .slider.round {border-radius:28px;}
.switch .slider.round:before {border-radius: 50%;}
.Payment_links a {display: block; font-size:17px;  text-align: right;color: #fc5a57;}
.Payment_links .edit {font-size: 30px;}

/* Loader Css */
.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(../images/Preloader_3.gif) center no-repeat rgba(176, 104, 168, 0.6588235294117647);}


/*================= Responsive Css Start Here ==========================*/
@media (max-width:479px)
{
.Feature_box{width:100%;}
.banner .dropdown.dropdown-lg .dropdown-menu{width:286px;}
}
