/*================= Global Css Start Here ====================*/
*{margin:0;padding:0;}
@font-face {font-family:'CircularStdBook';src:url('../fonts/CircularStdBook.eot');src:url('../fonts/CircularStdBook.eot') format('embedded-opentype'), url('../fonts/CircularStdBook.woff2') format('woff2'),
url('../fonts/CircularStdBook.woff') format('woff'),   url('../fonts/CircularStdBook.ttf') format('truetype'),url('../fonts/CircularStdBook.svg#CircularStdBook') format('svg');}
body {font-family:'CircularStdBook';font-size:16px;}

@media (min-width: 1192px)
{
  body .my-popup-design .modal-dialog
  {
    max-width: none !important;
    width: 90% !important;
  }
}

.user_customization.fullscreen .tools
{
  display: none
}

.user_customization.fullscreen .canvas-img
{
  max-width: 100% !important;
  flex: 0 0 100% !important;
}



a {color:#262626;text-decoration:none;}
a:hover{color:#ff5a58;text-decoration:none;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {display:inline-block;}
ul{list-style-type:none;}
p {font-size:16px;}
* html .clearfix{height:1%;}
.clearfix {display:block;}
.form-control {height: 50px;border: 1px solid #f0c5d8;}
.form-control::placeholder, select.form-control{color:#9d92b4;}
.btn {border: none;padding: 13px 26px;}
.btn-primary{background:#ff5959; color: #fff; text-transform: capitalize;}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{background: #E5619B;}
.btn-primary.focus, .btn-primary:focus{box-shadow: 0 0 0 0.2rem rgba(229, 97, 155, 0.52);}
.form-control:focus {border-color: #f0c5d8;box-shadow:0 0 0 0.2rem rgba(229, 97, 155, 0.26);}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 0.2rem rgba(229, 97, 155, 0.26);}
.spacer20 {margin:20px 0;float: left;width: 100%;}
textarea{resize: none;}
/* The radio and checkbox */
.radio {line-height: 30px;display: block;position: relative;padding-left: 30px;margin-bottom: 12px;cursor: pointer;font-size:16px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.radio input {position: absolute;opacity: 0;cursor: pointer;}
.checkround{position: absolute;top: 6px;left: 0;height: 20px;width: 20px;background-color: #fff ;border-color:#fe5a59;border-style:solid;border-width:1px;border-radius: 50%;}
.radio input:checked ~ .checkround{background-color: #fff;}
.checkround:after {content: "";position: absolute;display: none;}
.radio input:checked ~ .checkround:after {display: block;}
.radio .checkround:after{left:3px;top:3px;width: 12px;height: 12px;border-radius: 50%;background:#fe5a59;}
.check {display: block;position: relative;padding-left: 25px;margin-bottom: 12px;padding-right: 15px;cursor: pointer;font-size: 18px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.check input { position: absolute;opacity: 0;cursor: pointer;}
.checkmark {position: absolute;    top:4px;    left:0;height:18px;width:18px;background-color:#fff ;border-color:#f0c5d6;border-style:solid;border-width:1px;border-radius: 3px;}
.check input:checked ~ .checkmark {background-color: #fff;}
.checkmark:after{content: "";position: absolute;display: none;}
.check input:checked ~ .checkmark:after {display: block;}
.check .checkmark:after{left: 10px;top: -6px;width: 6px;height: 17px;border: solid;border-color: #a34d98;border-width: 0 1px 1px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.link-text {color: #fe5a59;}
a.change_pwd.link-text{margin-top: 10px;display: block;}
.modal-backdrop {background-color: #b068a8;}
/*================= Global Css End Here ======================*/

/*================= Header Css Start Here ====================*/
header{box-shadow:0 0 12px rgb(236, 174, 174);float:left;width:100%;padding:10px 0;}
.search_top_link {margin-top:15px;}
#custom-search-input{padding:3px;border:solid 1px #f0c5d8;border-radius:6px;background-color:#fff;}
#custom-search-input input{border:0;box-shadow:none;height:42px;}
#custom-search-input button{margin:4px 0 0 0;background:none;box-shadow:none;border:0;font-size:17px;  color:#ff5959; padding:5px 10px;}
#custom-search-input button:hover{border:0;box-shadow:none;}
.Top_links a {margin: 12px 10px; display: inline-block;font-size: 16px;cursor: pointer;}
.Top_links a.active{color:#ff5a58;}
.Top_links .dropdown, .user_img_box {display: inline-block;}
.Top_links .dropdown-menu.show {left: inherit !important; width:120px;right: 0;transform: inherit !important;top: 40px !important;padding: 0;min-width:inherit;}
.Top_links .dropdown-menu.show a {display: block; margin: 0;padding: 5px 15px; font-size: 14px;}
.Top_links .dropdown-toggle::after{display: none;}
.Top_links i.fa.fa-angle-down {color:#ff5959;}
.dropdown-item.active, .dropdown-item:active, .Top_links .dropdown-menu.show a:hover {background-color:#ff5959;color:#fff;}
label.error{font-weight: 400;}
/*================= Header Css End Here ======================*/

/*================= Middle Wrapper Css Start Here ====================*/
.main_content_wrapper{float:left;width:100%;padding:0 0 30px 0;background:url(../images/middle_bg.png) center -100px; background-repeat:no-repeat;}
.title_heading{margin:30px 0;}
.title_heading h2{color:#d44b7f;font-size:48px;}
/*================= Middle Wrapper Css End Here ======================*/

/*================= Footer Css Start Here ====================*/
.footer {background: #4d53a1;padding: 30px 0 10px; color: #fff;}
.footer h4{margin-bottom:20px;}
.footer ul li span {width: 155px; float: right;}
.footer ul li { margin-top: 13px;}
.social_links li {display: inline-block; margin: 0 6px;}
.footer ul li a {color: #fff;display: block;}
.social_links a { background: url("../images/social_links.jpg") no-repeat left top;
width: 30px;height: 30px;display: inline-block;}
.social_links a.facebook-link{ background-position: 0 0;}
.social_links a.twitter_link{ background-position: -48px 0;}
.social_links a.pinterest_link{ background-position:-94px 0;}
.social_links a.instagram_link{ background-position:-142px 0;}
.footer p{ margin: 0;}
.footer ul li a:hover{color:#ff5a58;}
@media (min-width:768px)
{
  .footer ul {border-right: 1px solid #424894;min-height:158px;}
  .footer .social_links {margin-top:112px;border:none; min-height: inherit;}
  .padding_0 {padding: 0;}
  .padding_left_0 {padding-left: 0;}
  .padding_right_0 {padding-right: 0;}
}
/*================= Footer Css End Here =======================*/

/*================= User registration Css Start Here ====================*/
@media (max-width:480px)
{
  .signup-form img.img-responsive {width:100%;}
}
/*================= User registration Css End Here ======================*/

/*================= Home Page Css Start Here ====================*/
.banner {background: url(../images/banner-bg.jpg) no-repeat center top; width: 100%;padding: 30px 0;}
.banner h1{font-size: 63px; color: #fff;text-shadow: 0 0 2px #000;}
.banner_search {padding: 25px 0;}
.banner .dropdown.dropdown-lg .dropdown-menu {margin-top: -1px; padding: 6px 20px;}
.banner .input-group-btn .btn-group { display: flex !important;position: static !important;}
.banner .btn-group .btn {border-radius: 0;margin-left: -1px;}
.banner .btn-group .btn:last-child {border-top-right-radius: 4px;  border-bottom-right-radius: 4px;}
.banner .btn-group .form-horizontal .btn[type="submit"] {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.banner .form-horizontal .form-group {margin-left: 0;margin-right: 0;}
.banner .form-group .form-control:last-child {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.banner_search .form-control {height: 70px;font-size: 22px; border: 1px solid #f0c5d8;}
.banner_search .btn {border: none; padding: 23px 35px;}
.banner .dropdown.dropdown-lg .dropdown-menu {transform: inherit !important;top: 70px !important;}
.banner #adv-search {background: #fff; margin: 0 auto;border-radius: 4px;}
@media screen and (min-width: 768px) {
  .banner #adv-search {width:750px;}
  .banner .dropdown.dropdown-lg {position: static !important;}
  .banner .dropdown.dropdown-lg .dropdown-menu {min-width:631px;}
  .banner_search .dropdown-menu .form-control {height: 50px; font-size: 14px; border: 1px solid #f0c5d8;}
  .banner_search .dropdown-menu .btn {padding: 13px 35px;}
  .navigation .navbar-nav.mr-auto {height: 40px;}
  .designer_settings-panel {min-height: 258px;}
}
/*Featured_categories*/
.Featured_categories {padding:20px 0;}
.section_head {margin-bottom: 25px;}
.Feature_box {width: 18.9%;display: inline-block;margin-right: 1%;text-align: center;cursor: pointer;}
.Feature_box:last-child{margin-right:0;}
.Feature_box .img_box {width:150px;display:inline-block;}
.Feature_box .img_box img{width:100%;}
.Feature_box .image_title {padding: 10px 0;}
/*special_schools*/
.special_schools {float: left;width: 100%;margin: 20px 0 0;}
.special_school_panel {padding: 25px 0;color: #fff;background: url(../images/special-school.jpg) no-repeat center top;box-shadow: 0 13px 38px #d4b4d0;border-radius: 3px;}
.special_school_panel h3 {color: #ff5959; font-size: 48px;}
.special_school_panel h3 span{ font-size: 30px; color:#fff;}
.special_school_panel a.btn.btn-primary {margin-top: 47px;}
.special_school_panel p {font-size: 20px;}
.Design_process {float: left;width: 100%;margin-top: 28px;}
/*================= Home Page Css End Here ======================*/

/*================= Become Seller Page Css Start Here ====================*/
.upload_img{text-align: center;}
.upload_img span {background: #de5974;width: 100px;height: 100px;display: inline-block;border-radius: 50%;text-align: center;overflow: hidden;}
.upload_img span img {width: 100%;height: 100%;}
.upload_img i.fa.fa-plus {background: #8c4392; color: #fff;padding: 6px 0;width: 25px; height: 25px;border-radius: 50%;position: relative;top: -14px;}
.upload_img em {font-size: 17px;font-style: normal;display: block;}
.become_seller-panel h5 {margin-bottom:18px;}
.gender {margin-top: 35px;}
.gender h5{color:#9d92b4;margin-bottom: 10px;}

/*================= Become Seller Page Css End Here ======================*/

/*================= Subscribe Plan Page Css Start Here ======================*/
.subscribe_panel{text-align: center;margin-bottom:30px;}
.plan_head {background:#da537b;color:#fff;padding:35px 15px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de5974+0,d34d80+100 */
  background: #de5974; /* Old browsers */
  background: -moz-linear-gradient(top, #de5974 0%, #d34d80 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #de5974 0%,#d34d80 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #de5974 0%,#d34d80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de5974', endColorstr='#d34d80',GradientType=0 ); /* IE6-9 */}
.plan_content {box-shadow:0 9px 17px #e6e3e3;padding: 15px;}
.plan_content li {padding: 15px 0; font-size: 30px;}
.plan_content li span{display: block;  font-size:25px;}
.plan_button{padding: 15px 0;margin-top: 25px;}
.plan_button .btn {background: #d4507f;color: #fff;padding: 13px 60px;}
.entry-level .plan_head, .entry-level .btn {background:#eac435;}
.intermediate-plan .plan_head, .intermediate-plan .btn {background:#306da3;}
.expert-level .plan_head, .expert-level .btn {background:#954292;}
.plan_content h3 {color: #da537b;    font-size: 48px;  font-weight: 600;}
.entry-level .plan_content h3{color:#eac435;}
.intermediate-plan .plan_content h3{color:#306da3;}
.expert-level .plan_content h3{color:#954292;}
/*================= Subscribe Plan Page Css End Here ========================*/

/*================= Complete Registration Page Css Start Here ========================*/
.Complete_Registration{max-width: 600px;margin:0 auto;width: 100%;}
.Complete_Registration h4 {margin-top: 70px;}
/*================= Complete Registration Page Css End Here ========================*/

/*================= Designer Home Page Css Start Here ========================*/
.navigation {margin: 15px auto;max-width:850px;border-bottom:1px solid #e3cce0;width:100%;}
.navigation .navbar-nav.mr-auto {width: 100%;text-align: center; display: block;}
.navigation .navbar-nav li{display: inline-block;}
.navigation .navbar-light .navbar-nav .nav-link {color:#9e92b6; font-size: 17px;margin:7px 21px 0;padding: 0;padding-bottom: 8px;}
.navigation .navbar-light .navbar-nav .nav-link:hover{color:#252726;}
.navigation .navbar-light .navbar-nav li.nav-item.active a {color: #252726;border-bottom:3px solid #ff5959;}
.navigation nav.navbar {padding: 0;}
.last_latest_recent {max-width: 850px;margin: 40px auto 0;}
.last_latest_recent .panel {margin-bottom: 50px;}
.sold_panel {
  background: url(../images/Last_sold_item_bg.png) center bottom #fff;
  background-repeat: no-repeat;
  box-shadow: 1px 2px 4px #ccc;
  float: left;
  width: 100%;
  border-radius: 0 0 15px 15px;
  margin-top: 15px;
}
.last_sold_box_img img {width: 100%;margin: -15px 0;height: 256px;}
.last_sold_box_cont {padding:15px 0;}
.last_sold_box_cont p {color: #9d91b5;margin: 0;}
.last_sold_box_cont p span {color: #2c2c2c;}
.paid_unpaid {text-align: center;margin-top: 54px;}
.paid_unpaid i.fa.fa-check {background:#84c102;height: 30px;width: 30px;display: inline-block;color: #fff;border-radius: 50%;padding: 9px;}
.paid_unpaid span{color:#84c102; display: block;text-transform: uppercase;padding: 0;}
.paid_unpaid span.check{color:#84c102;}
.customer_img {border-radius: 50%;width: 50px;height: 50px; overflow: hidden;}
.customer_img img{width:100%;height:100%;}
.detail_box{margin-top:25px;}
.total_balance {background: #d64e80;background: -moz-linear-gradient(left, #d64e80 0%, #e76565 100%);background: -webkit-linear-gradient(left, #d64e80 0%,#e76565 100%);background: linear-gradient(to right, #d64e80 0%,#e76565 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64e80', endColorstr='#e76565',GradientType=1 );padding: 15px;color: #fff;font-size: 17px;border-radius: 4px;}
.total_balance span, .last_balance span{ font-size:22px; display: block;}
.last_balance {margin: 15px 0;}
.transaction_history a {color: #ff595b;}
/******************  News Slider Demo-10 *******************/
.post-slide10 {margin: 0 7px;position: relative;box-shadow: 0 1px 2px rgba(43,59,93,0.30);}
.post-slide10 img{width: 100%;height: 100%;}
.owl-controls .owl-buttons{margin-top:20px;position:relative;}
.owl-controls .owl-prev{position: absolute;left: -40px;bottom: 135px;padding: 8px 17px;background:#333;transition:background 0.50s ease;}
.owl-controls .owl-next{position: absolute;right: -40px;bottom: 135px;padding:8px 17px;background:#333;transition:background 0.50s ease;}
.owl-controls .owl-prev:after, .owl-controls .owl-next:after{content:"\f104";font-family: FontAwesome;color: #fff;font-size:16px;}
.owl-controls .owl-next:after{content:"\f105";}
.owl-controls .owl-prev:hover, .owl-controls .owl-next:hover{background: #e74c3c;}
.owl-pagination {display: none;}
@media only screen and (max-width: 990px) {
  .post-slide10{margin: 0 20px;}
  .owl-controls .owl-buttons .owl-prev{left:-20px;padding:5px 14px;}
  .owl-controls .owl-buttons .owl-next{right:-20px;padding:5px 14px;}
}
@media only screen and (max-width: 767px){
  .owl-controls .owl-buttons .owl-prev{left:0px;bottom: 260px;}
  .owl-controls .owl-buttons .owl-next{right:0px;bottom: 260px;}
}

#Recent_activity li { font-size: 17px;margin-bottom:10px;}
#Recent_activity li span {min-width: 354px;display: inline-block;}
#Recent_activity li a{color: #ff5a58;}
/*================= Designer Home Page Css End Here ==========================*/
/*================= Designer Portfolio Page Css Start Here ========================*/
.filter {padding: 10px 0;}
.filter p{color:#9e92b6;}
.filter p span{color:#252726;}
.portfolio_img img {
    width: auto;
    height: 150px;
}
.portfolio_content {padding: 15px 0;}
.portfolio_content p{color:#9e92b6;}
.portfolio_panel{padding:25px 0;}
.Add_designss i{border:1px solid #fff;border-radius:50%;width:20px;height:20px;font-size:12px;padding:4px;}
.portfolio_box{margin-bottom:20px;}
.Add_designss a.btn.btn-primary{color:#fff;}
.Add_designBtn a.btn.btn-primary{color:#fff;}
.designModal .modal-title, .bootbox .modal-title{width: 100%;text-align: center;font-size: 32px;color:#cd4689;}
.btn-default { background: #eee; }
.custom-file{outline: none;}
.custom-file-label {text-align: right;border:none;margin: 0;padding:14px 100px 15px 0;height: 50px;color:#fc5a57;}
.custom-file-label:focus{ outline: none;}
.custom-file-input:focus~.custom-file-label{border:none; box-shadow: none;}
.custom-file-label::after {
  height: 50px;
  background: #dcdcdc;
  padding: 9px 20px;
  color: #fff;
  border-radius: 4px;
  margin-top: 6px;
  line-height: 50px;
  cursor: pointer;
}
.col-form-label {color: #9d92b4;font-size: 1rem;}
.asterisk {color: #fe5d62;}
.action_design label.check {color:#9d92b4;font-size: 16px;}
.limit {color: #cec7d7;font-size: 13px;}
.upload_img_btn {text-align:right; margin-top: 90px;}
#Add_Design button.close {position:absolute;right:20px;}
.close:focus{outline: none;}
/*================= Designer Portfolio Page Css End Here ==========================*/
/*================= Designer Uploads Page Css Start Here ==========================*/
.upload_cont {max-width: 600px;margin: 15px auto;}
.uploads_panel {margin: 30px 0 0;}
.table thead th {color: #9e92b6;font-size: 16px;font-weight: normal;}
.table td{vertical-align: middle;}
.uploads_panel table img {height: 80px; width: 120px;}
.uploads_panel table td{font-size: 18px;}
.uploads_panel table .edit {font-size: 30px; color:#fc5a57;}
.table thead th{color:#9e92b6;}
/*================= Designer Uploads Page Css End Here ============================*/
/*================= Designer Earnings Page Css Start Here ========================*/
.earnings_cont{margin-top:15px;}
.earnings_cont li.list-inline-item {padding-left: 25px; font-size: 16px;}
.earnings_cont img {vertical-align: text-bottom;margin-right: 6px;}
.Earnings_Category { margin-top: 50px;}
.Earnings_Category h5 {color: #000;font-size: 17px;}
.Earnings_Category h5 span{color:#9e92b6;min-width: 96px;display: inline-block;}
.Earnings_Category h5 em{font-style: normal;font-size: 28px;}
.customer_list_panel a.link-text {font-size: 16px;float: right;line-height: 31px;}
.customer_list_panel td {font-size: 16px;border: none;padding: 2px 5px;}
.customer_list_panel td.user_img span {width:50px;height:50px;display: inline-block;overflow: hidden;border-radius: 50%;}
.customer_list_panel td.user_img span img{width:100%; height:100%;}
.customer_list_panel td.username {min-width: 200px;}
.customer_list_panel {padding-top: 25px;}
.customer_list_panel .detail_box {padding: 25px;background: #f1f1f1; border-radius: 4px;margin: 0;}
.customer_list_panel h4 {font-size: 20px; margin-bottom: 10px;}

/*================= Designer Earnings Page Css End Here ==========================*/
/*================= Designer Settings Page Css Start Here ==========================*/
.designer_settings_section {padding: 35px 0 0;}
.designer_settings_section .gender {max-width: 108px;margin: 22px auto 0;}
ul#Account_Settings { width:23%;display: inline-block;vertical-align: top;border:none;}
.designer_settings-panel .tab-content { width:73%;display: inline-block; padding-left:4%;vertical-align: top;margin-top:8px;}
.designer_settings-panel a.nav-link.active {background: #ce4589;    color: #fff;}
.designer_settings-panel a.nav-link {padding: 12px;font-size:18px;border-radius: 4px;border:none;}
.designer_settings-panel li.nav-item i {margin-right: 10px;}
.designer_settings .nav-tabs .nav-link:focus, .designer_settings .nav-tabs .nav-link:hover{border:none; outline: none;}
.designer_settings-panel .tab-content label {font-size: 16px;color:#9e92b6; margin-top: 5px;}
.Left_panel_tab {width: 70%; display: inline-block;}
.Gender_info_Img_Gender {width: 29%;vertical-align: top;display: inline-block;}
.switch {position: relative;display: inline-block; width:65px;height:28px;}
.switch input {opacity: 0;width: 0;height: 0;}
.switch .slider {position: absolute;cursor: pointer;  top: 0;  left: 0;  right: 0;  bottom: 0;  background-color: #fff;  -webkit-transition: .4s;  transition: .4s;box-shadow: 0 0 8px;}
.switch .slider:before {position: absolute;  content: "";  height: 26px;  width: 26px;  left:1px;  bottom:1px;  background-color: white; -webkit-transition: .4s;  transition: .4s;    box-shadow: 0 0 8px;}
.switch input:checked + .slider {background-color:#ff5959;}
.switch input:focus + .slider {box-shadow: 0 0 1px #ff5959;}
.switch input:checked + .slider:before {-webkit-transform: translateX(26px);  -ms-transform: translateX(37px);  transform: translateX(37px);}
.switch .slider.round {border-radius:28px;}
.switch .slider.round:before {border-radius: 50%;}
.Payment_links a {display: block; font-size:17px;  text-align: right;color: #fc5a57;}
.Payment_links .edit {font-size: 30px;}
a.hrefColor { color: #d44b7f;}
/* Loader Css */
.se-pre-con {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(../images/Preloader_3.gif) center no-repeat rgba(176, 104, 168, 0.6588235294117647);}
.has-error, label.error {
  color: red !important;
}
.user_img_box {
  width: 46px;.layer-trigger-wrapper {
    float: left;
    width: 100%;
  }
  height: 46px;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 50%;
}
.user_img_box img{width:100%; height:100%;}


/****** Add design Popup ************/
.Add_design .custom-file-input:lang(en)~.custom-file-label::after {
  content: "+";
  margin-right: auto;
  margin-left: auto;
  left: 0;
  width: 50px;
  margin-top: 0;
  background: #ff5959;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  font-size: 31px;text-align: center;
  cursor: pointer;
}
.add_file {
  text-align: center;
  padding: 26px 0 10px;
  font-size: 26px;
  position: relative;
  z-index: 9;
}
.Add_design .custom-file-label {
  text-align: center;
  padding: 48px 0 25px 0;
}
#Add_Design .modal-header {
  border: none;
}
#Add_Design .modal-body {
  min-height: 200px;
}
.size_text_next {
  padding: 20px 0;
}
.next_pre {
  text-align: right;
}

.next_pre a {
    background: #dddddd;
    border-radius: 4px;
    padding: 3px 15px;
    color: #fff;
    margin-left: 15px;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}
.next_pre a:hover{ background:#ff5959;}
.size_text { color:#262626;
  font-size:18px;
}
.size_text span{
  color: #9d91b5;font-size:16px;
}
.design_image_add{text-align:center; background:#eee;}
.design_image_add img { display:inline-block;
  max-width: 350px;
}
.user_customization i.fa.fa-plus {
  background: #ff5959;
  color: #fff;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
}
.textfields_fonts span {
  display: block; font-size:18px;
  margin:15px 0;
}
.textfields_fonts i.fa.fa-plus, .Upload_font i.fa.fa-plus{
  margin-right: 15px;
}
.Upload_font span{font-size:18px;}

.user_customization h4.modal-title {
  margin-bottom: 20px;
}
.select_textfield.collapsed {background:url("../images/Select_icon.png") no-repeat right 22px;
box-shadow:0 4px 16px #eee;  color:#262626 !important;

}
.select_textfield{
  background: #c84090;background: -moz-linear-gradient(left, #c84090 0%, #e76368 100%);background: -webkit-linear-gradient(left, #c84090 0%,#e76368 100%);background: linear-gradient(to right, #c84090 0%,#e76368 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c84090', endColorstr='#e76368',GradientType=1 );padding: 10px 15px;color:#262626; font-size:22px; color:#fff !important;
  border-radius: 5px;display: block;}

  .select_textfield.collapsed.showSelectedPanel{
    background: #c84090;background: -moz-linear-gradient(left, #c84090 0%, #e76368 100%);background: -webkit-linear-gradient(left, #c84090 0%,#e76368 100%);background: linear-gradient(to right, #c84090 0%,#e76368 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c84090', endColorstr='#e76368',GradientType=1 );color: #fff !important;}

    .text-settings {    float: left;
      margin:0 15px 20px;
      padding: 12px;
      background: #eeeeee;
    }
    .user_customization label {
      color:#9d91b5;min-width: 17px;
      font-size:14px;
    }
    .xy .left {
      float: left;
      width:46%;
    }
    .xy .right {
      float: right;
      width:51%;
    }
    .textfields_fonts input, .textfields_fonts select {
      display: inline-block;
      padding:0 7px;
      min-width: 100px;
      width: auto;
      height: 35px;
      border: none;
      max-width: 100px;
      box-shadow: 1px 2px 9px #dcdada;
    }
    .xy {
      float: left;
      width: 100%;
    }
    .right label {
      min-width: 56px;
    }
    .xy.language_limit .left select.form-control {
      width: 121px;
      max-width: inherit;
    }

    .xy.language_limit .left {
      width: 41%;
    }

    .xy.language_limit .right {
      width:58%;
    }

    .xy.language_limit .right select.form-control {
      max-width: 70px;
      min-width: 70px;
    }
    .xy.Default_text input.form-control {
      display: block;
      max-width: 100%;
      width: 100%;
    }
    .xy.font_style .font {
      width:39%;
      max-width: 100%;
    }
    .xy.font_style .bold {
      width: 30%;
      max-width: 100%;
    }
    .xy.font_style .px {
      width:29%;
      max-width: 100%;
    }
    .leadtrack {
      display: inline-block;
      vertical-align: top;
    }
    .leadtrack select {
      min-width: 100px;
    }
    .leadtrack.colorPicker span {
      background: #fff;
      height: 35px;
      width: 35px;
      margin:0 4px 0 5px;
      border-radius: 5px;border: 4px solid #fffffd;
      box-shadow: 0 0 4px #eee;
      overflow: hidden;
    }
    .leadtrack.colorPicker input {
      padding: 0;
    }
    .leadtrack.colorPicker span a {
      background: #a3d900;
      display: block;
      height:20px;
      width:20px;
    }
    .Paragraph {
      display: inline-block;
    }

    .favouriteBtn.active {
      display: inline-block;
    }
    .Paragraph span {margin: 0 2px;box-shadow: 1px 2px 9px #dcdada;
      background: #fff;
      padding: 0px 6px;
      border-radius: 4px;
      display: inline-block;}

      .layer-trigger-wrapper {
        float: left;
        width: 100%;
      }
      .leadtrack.colorPicker {
        float: right;
      }

      .Hyphenate {
        display: inline-block;
        vertical-align: top;margin-left:5px;
      }
      .Hyphenate span {
        display: inline-block;
        vertical-align: top;
        margin: 0 2px;
        font-size: 27px;
        color: #fff;
      }
      .leadtrack select.form-control {
        margin-right: 7px;
      }
      .Paragraph img {
        vertical-align: top;
        margin-top: 8px;
      }
      .textfields_fonts select.form-control {
        background: url(../images/Select_icon.png) no-repeat right 15px #FFF;
        -webkit-appearance: none;-moz-appearance: none;
      }
      .select_textfield{ position:relative;}
      .textfields_fonts .icon_select {
        margin: 0;
        background: url(../images/collapse_icon.png) no-repeat right 0;
        width: 17px;
        height: 35px;
        right: 2px;
        top: 6px;
        position: absolute;
        z-index: 9;
      }
      a.select_textfield.collapsed .icon_select {display:none;}
      .design_information h4.modal-title {margin-bottom: 20px;}
      .design_information label {
        color: #9d91b3;
        font-size: 16px;
        line-height: 45px;
        margin-bottom: 0;
      }
      .price_input { width: 80%;    float: right;    vertical-align: top;    position: relative;}
      .price_input input{padding-left:35px;}
      .price_input span {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #333;
        font-size: 16px;
      }
      .design_information .form-control {
        height: 45px;box-shadow:0 4px 16px #eee;
        border: none;
      }
      .design_information textarea.form-control {
        height: 100px;
      }
      select.form-control {
        background: url(../images/Select_icon.png) no-repeat right 15px #FFF;
        -webkit-appearance: none;-moz-appearance: none;}
        .design_information select.form-control {
          background-position: right 19px;
        }

        .add_design_image img {max-width: 100%;}
        .next_pre a i {
          line-height: 28px;
        }

        .add_more_text_cls {
          float: left;
          width: 100%;
        }
        .layer-trigger {
          position: relative;
        }
        .layer-trigger .deleteText,.layer-trigger .deleteImage {
          position: absolute;
          right: 21px;
          top: 18px;
          color: #ff5959;
          z-index: 9;
        }
        .openWrap {color:#D1629F;}
        .add_design_image_panel {
          text-align: center;
        }
        .add_design_image_panel img {
          display: inline-block;
        }
        .custom-file-input{cursor: pointer;}
        .bootbox-close-button.close {position: absolute;top: 15px;right: 15px;}
        .modal-header{border-bottom:none;}
        .modal-content{border:none;}
        div.ui-keyboard {
          z-index: 2000;
        }

        .vertical-center {
          min-height: 100%;
          min-height: 100vh;
          display: flex;
          align-items: center;
        }
        .rtl {
          text-align: right;
        }

        .upload_bx.consent_dateClass {background: #fff;}
        .browse.btn.btn-primary { border-radius: 0 4px 4px 0;padding: 5.5px 15px;box-shadow: none;}
        input.form-control.upload_bx {border-radius: 4px 0 0 4px !important;}
        .fileUp { visibility: hidden;position: absolute;}
        .browseImageBox { height:38px;overflow:hidden;display: block;width: 68px; cursor: pointer;}
        a.fileName {color: #00acb9;}
        .textfields_fonts .input-group .input-group-btn { margin: 0;}
        .form-control.upload_bx.consent_dateClass {min-width: 112px;}
        .char_limit_1st.form-control {min-width: 120px;}
        /* .layer-trigger-wrapper.imageDiv .deleteImage.fa.fa-times, .layer-trigger-wrapper.textDiv .deleteText.fa.fa-times{
        color: #fff;
        } */
        .add_more_image_cls {
          float: left;
          width: 100%;
        }
        .layer-trigger.openWrap .deleteImage.fa.fa-times {
          color: #fff;
        }
        @-moz-document url-prefix() {
          .leadtrack select{min-width: 102px;}
        }
        .layer-trigger.openWrap i.deleteText.fa.fa-times {
          color: #fff;
        }
        canvas#canvas {width: 100% !important;}
        span.add_more_image_cls a, .add_more_text_cls a {float: left; width: 100%;}
        .pagination {display: inline-block; margin-right: 120px;}
        .pagination span, .pagination a {color: #afcad9;padding: 0 5px;font-weight: 600;}
        .pagination .active span { color: #000;}
        .pagination li {display: inline-block;}
        .per_Page {display: inline-block;color: #afcad9;font-weight: 600;}
        .entriesperpage { box-shadow:0 4px 16px #eee;background-color:  #fff;   border: none;  padding:5px 24px 5px 10px;    -moz-appearance: none;    -webkit-appearance: none;}
        select{-moz-appearance:none; -webkit-appearance:none;background:url("../images/select_aero.png") no-repeat right 15px; }

        /*========================== Login Page Css start Here ======================*/
        .login_page {background:url(../images/login_bg.png) no-repeat center top;position:fixed;width: 100%; height: 100%;}
        .login_header img{ max-width: 325px;width: 100%;}
        .login_header {text-align: center;margin: 25px 0;}
        .login_main { max-width: 530px; margin: 0 auto;}
        .login_main h1 { color:#d24c46;text-align: center; margin: 35px 0;}
        .login_main label { color: #afcad9;    font-size: 16px;    line-height: 40px;}
        .login_main .btn{background: #0172af;background: -moz-linear-gradient(left, #0172af 0%, #008eb0 100%);background: -webkit-linear-gradient(left, #0172af 0%,#008eb0 100%);background: linear-gradient(to right, #0172af 0%,#008eb0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0172af', endColorstr='#008eb0',GradientType=1 );min-width: 130px;}
        .login_main .btn:hover{background: #008eb0; background: -moz-linear-gradient(left, #008eb0 0%, #0172af 100%);
        background: -webkit-linear-gradient(left, #008eb0 0%,#0172af 100%);background: linear-gradient(to right, #008eb0 0%,#0172af 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008eb0', endColorstr='#0172af',GradientType=1 );}
        .login_main input.form-control {border: none; box-shadow: 0 0 4px #d7e9ea;}
        /*========================== Login Page Css End Here ======================*/
        /*========================== Search Page Css start Here ======================*/
        .search_head {margin: 25px 0;text-align: center;background: url(../images/tabs_border.png) no-repeat center bottom;padding: 5px 0;}
        .search_head h4 {font-size: 16px;}
        .search_head h4 span{color:#9d91b3;}
        .search_filter {padding: 15px 0;}
        .search_filter ul li {display: inline-block;padding: 10px 15px; color:#9d91b3;}
        .search_filter ul li span{color:#000;}
        .starrating > input {display: none;}  /* Remove radio buttons */
        .starrating > label:before { content: "\f005"; /* Star */  margin: 2px; font-size:16px; font-family: FontAwesome; display: inline-block; }
        .starrating > label{ color: #222222;margin: 0; /* Start color when not clicked */}
        .starrating > input:checked ~ label{ color:#d8527b ; } /* Set yellow color when star checked */
        .starrating > input:hover ~ label{ color: #d8527b ;  } /* Set yellow color when star hover */
        .item_cont h5 {
            padding-right: 30px;
            font-size: 17px;
        }
        .item_cont h4 {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
        }
        .item_cont {
            position: relative;
            margin: 10px 0;
        }
        .item_cont a.favourite {
            position: absolute; color:#d8527b;
            right: 0;
            top: 0;
        }
        .item_cont a.favourite:focus{
          outline: none;
          box-shadow: none;
          border: none;
        }
        .item_cont p {
            margin: 0;
            color: #9d91b4;
        }
        .search_item .item_img img {
            width: 100%;
        }
        .item_img {
            height:170px; overflow:hidden;
        }
        .search_item {margin-bottom: 35px;}
        /*========================== Search Page Css End Here ======================*/
        /*================= Product Detail Css Start Here ==========================*/
        .preview {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; }
          @media screen and (max-width: 996px) {
            .preview {
              margin-bottom: 20px; } }

        .preview-pic {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1; }

        .preview-thumbnail.nav-tabs {
          border: none;
          margin-top: 15px; }
          .preview-thumbnail.nav-tabs li {
            width: 31.6%;
            margin-right: 2.5%;
        }
            .preview-thumbnail.nav-tabs li img {
              max-width: 100%;
              display: block; }
            .preview-thumbnail.nav-tabs li a {
              padding: 0;
              margin: 0; }
            .preview-thumbnail.nav-tabs li:last-of-type {
              margin-right: 0; }

        .tab-content {
          overflow: hidden; }
          .tab-content img {
            width: 100%;
            -webkit-animation-name: opacity;
                    animation-name: opacity;
            -webkit-animation-duration: .3s;
                    animation-duration: .3s; }

        .card {
          margin-top: 50px;
          background: #eee;
          padding: 3em;
          line-height: 1.5em; }

        @media screen and (min-width: 997px) {
          .wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; } }

        .details {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; }

        .colors {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1; }

        .product-title, .price, .sizes, .colors {
          font-weight: bold; }

        .checked, .price span {
          color: #da5479; }

        .product-title, .rating, .product-description, .price, .vote, .sizes {
          margin-bottom: 15px; }

        .product-title {
          margin-top: 0; }

        .size {
          margin-right: 10px; }
          .size:first-of-type {
            margin-left: 40px; }

        .color {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          height: 2em;
          width: 2em;
          border-radius: 2px; }
          .color:first-of-type {
            margin-left: 20px; }

        .add-to-cart, .like {
          background: #ff9f1a;
          padding: 1.2em 1.5em;
          border: none;
          text-transform: UPPERCASE;
          font-weight: bold;
          color: #fff;
          -webkit-transition: background .3s ease;
                  transition: background .3s ease; }
          .add-to-cart:hover, .like:hover {
            background: #b36800;
            color: #fff; }

        .not-available {
          text-align: center;
          line-height: 2em; }
          .not-available:before {
            font-family: fontawesome;
            content: "\f00d";
            color: #fff; }

        .orange {
          background: #ff9f1a; }

        .green {
          background: #85ad00; }

        .blue {
          background: #0076ad; }

        .tooltip-inner {
          padding: 1.3em; }

        @-webkit-keyframes opacity {
          0% {
            opacity: 0;
            -webkit-transform: scale(3);
                    transform: scale(3); }
          100% {
            opacity: 1;
            -webkit-transform: scale(1);
                    transform: scale(1); } }

        @keyframes opacity {
          0% {
            opacity: 0;
            -webkit-transform: scale(3);
                    transform: scale(3); }
          100% {
            opacity: 1;
            -webkit-transform: scale(1);
                    transform: scale(1); } }
        .ProductDetails .card {
                        background: none;
                        border: none;padding: 3em 0;
                        margin: 0;
                    }
        .product-title span {float: right;}
        .product-title span a:first-child {color:#ff5959;}
        .product-title span a:last-child {color:#84c102;}
        .cat_price span {display: block; color: #9d91b4; font-size: 17px; margin: 5px 0;}
        .cat_price span b{color: #262626; font-weight:normal;}
        .action_btn button.btn{margin-left:10px;}
        .action_btn button.btn.btn-success {background: #84c102;}
        .Review_item_info {
            position: relative;
            padding-left:100px;
        }
        .review_img {
            position: absolute;
            width: 86px;
            height: 86px;left:0; top:0;
            overflow: hidden;
        }
        .review_img img{width:100%;}
        .Review_username p {
            color: #9d91b5;
        }
        .Review_username span.fa.fa-star.checked {
            color:#9d91b5;
        }
        .RatingReviews h2 {
            font-size: 24px;
            border-bottom: 1px solid #e3cce0;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }
        .Review_item {
            margin: 25px 0;
        }
        /*================= Product Detail Css End Here ==========================*/
        /*================= Downloads Detail Css Start Here ==========================*/
        thead {
            box-shadow: 0 0 4px #eee;
            background: #fff;
        }
        .table thead th{border:none;}
        table.table .favourite {color:#ff5959;}
        .table .checkout{color:#84c102;}
        .subadd input {
              border: none;
              text-align: center;
              background: none;
              min-width: 29px;
              margin: 0 5px;
              max-width: 69px;
          }
          .portfolio_box .portfolio_img {
            max-height: 240px;
            overflow: hidden;
        }
        .subadd button {
            border: none;
            background: #fff;
            box-shadow: 0 0 4px #eee;
            padding: 0 10px;
            cursor: pointer;
        }
        .subadd button:focus, .subadd input:focus{outline:none;}
        .checkout i {
            margin-right: 15px;
        }
        /*================= Downloads Css End Here ==========================*/
        /*================= Coontact Css Start Here ==========================*/
        .signup-form.contact_page {
            max-width: 600px;
            margin: 0 auto;
        }
        .signup-form.contact_page label {
            color: #9d91b5;
            font-size: 16px;
            margin-top: 10px;
        }
        .signup-form.contact_page textarea{ height: 100px; resize: none;}

        .qst {padding-left:30px; position: relative;margin: 15px 0 50px;}
        .qst h4 span {
            position: absolute;
            left: 0;
            top: 0;
        }
        /*========================== Edit template css  start Here ======================*/
        /*========================== edit template sec css  start Here ======================*/

        .edit-template-sec {padding: 67px 0;}
        .celebrate-img {position: relative;}
        .celebrate-img img {width: 100%;}
        .celebrate-content {position: absolute;top: 30%;left: 0;right: 0;text-align: center;font-family: 'Times New Roman';}
        .celebrate-content h1 {font-size: 22px;text-transform: uppercase;color: #756774}
        .celebrate-content h2 {
        	font-size: 47px;
        color: #756774;
        	border: 3px dashed #756774;
        	max-width: 500px;
        	margin: 25px auto;
        	background: #fff;
        	padding: 15px 0;
        	text-transform: capitalize;
        }
        .celebrate-content span {display: block;font-size: 22px;text-transform: uppercase;padding-bottom: 2px;color: #756774}
        .celebrate-content h3 {text-transform: uppercase;font-size:30px;color: #756774}
        .celebrate-content h4 {text-transform: uppercase;font-size:30px;text-decoration: underline;margin: 10px  0;color: #756774}
        .celebrate-right-sec {padding: 0 30px;}
        .celebrate-right-sec h1 {
        	font-size: 32px;
        	color: #262626;
        }
        .celebrate-right-sec h1 {
        	font-size: 32px;
        	color: #262626;
        	margin-bottom: 20px;
        }
        .celebrate-right-sec span {
        	font-size: 16px;
        	color: #262626;
        }
        .celebrate-form-sec {
        	margin: 60px 0 0;padding: 19px;
        background: linear-gradient(to right, rgba(197,64,144,1) 0%, rgba(164,66,146,1) 49%, rgba(148,66,147,1) 100%);
        border-radius: 4px;position: relative;
        }
        .celebrate-form-sec::before {
        	position: absolute;
        	content: "";
        	left: -17px;
        	top: 43%;
        	bottom: 0;
        	width: 0;
        	height: 0;
        	border-style: solid;
        	border-width: 13px 18px 13px 0;
        	border-color: transparent #c54090 transparent transparent;

        }
        .celebrate-btn {
        	width: 100%;
        	background: #fff;
        	border: none;
        	border-radius: 4px;
        	cursor: pointer;
        	font-size: 23px;
        	color: #9d4d8c;
        }
        .celebrate-form-sec .form-control {
        	box-shadow: none;
        	height: 35px;
        }
        .celebrate-content i {
        	font-size: 20px;margin-bottom: 20px;
        }
        .celebrate-right-sec a.upload-img {
        	font-size: 20px;
        }
        .celebrate-right-sec a, .celebrate-right-sec a span {
        	color: #fff;
        }
        .celebrate-btn-sec {
        	padding:107px 0 0;
        }
        .celebrate-right-sec .btn.discard-btn {
        	background: #cec8da;
        	/*margin-right: 53px;*/
        }
        .celebrate-right-sec .btn.discard-btn:hover {
        	background: #b6adc6;
        	color: #fff;
        }
        .celebrate-right-sec .btn.save-btn {
        	background: #ff5959;
        }
        .celebrate-right-sec .btn.discard-btn:hover{background: #b6adc6;color: #fff;}
        .celebrate-right-sec .btn.save-btn:hover{background:#e34141;color: #fff;}
        .rate-hover-layer span, .rate-select-layer span {color: #da5479;}


        /* Rating Star Widgets Style */
        .rating-stars ul {
          list-style-type:none;
          padding:0;

          -moz-user-select:none;
          -webkit-user-select:none;
        }
        .rating-stars ul > li.star {
          display:inline-block;

        }

        /* Idle State of the stars */
        .rating-stars ul > li.star > i.fa {
          font-size:2.5em; /* Change the size of the stars */
          color:#ccc; /* Color on idle state */
        }

        /* Hover state of the stars */
        .rating-stars ul > li.star.hover > i.fa {
          color:#da5479;
        }

        /* Selected state of the stars */
        .rating-stars ul > li.star.selected > i.fa {
          color:#da5479;
        }
        .rating-stars ul > li.star {
          display: inline-block;
          font-size: 5px;
          cursor: pointer;
          }
          #addFontModel {
              z-index: 9999;
              background: rgba(176, 104, 168, 0.7);
          }
          #addFontModel.displayNone{
            display: none !important;
          }
          .closeFontModel {
              cursor: pointer;
              font-size: 20px;
              color: #9b9898;
          }
          .searchShort {
            cursor: pointer;
          }

        /*================= Edit template Css End Here ==========================*/
        /*================= Category Page Css Start Here ==========================*/
        .Category_bx {text-align: center;margin-bottom: 20px;}
        .Category_bx img {height: 100px;}
        .cat_name h4 {margin: 10px 0;font-size: 19px;}
        /*================= Category Page Css End Here ==========================*/
        /*================= Support Page Css Start Here ==========================*/
        .Support_Banner{padding: 25px 0;
        background: #c84090; /* Old browsers */
        background: -moz-linear-gradient(left, #c84090 0%, #5e4595 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #c84090 0%,#5e4595 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #c84090 0%,#5e4595 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c84090', endColorstr='#5e4595',GradientType=1 ); /* IE6-9 */}
        .Support_Banner .banner_search {max-width:700px;margin:0 auto;}
        .Support_Banner .banner_search .btn {border-radius: 0 5px 5px 0;}
        .Support_Banner .form-control { box-shadow: none;font-size: 21px;color:#d24d46;}
        .Support_Banner .form-control::placeholder{color:#d24d46;}
        .Support_Banner h4 { color: #fff;font-size: 30px;padding: 0 0 15px;}
        .Support_cont {margin: 25px 0;}
        .Support_feature{ margin:10px 0 25px;}
        .Support_feature a{display: block;color:#ff5959;}
        .Common_questions ul li a {color: #fff;}
        .Common_questions {padding: 15px;margin-top: 10px;border-radius: 5px;color: #fff;background: #c84090;
        background: -moz-linear-gradient(45deg, #c84090 0%, #e5616a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #c84090 0%,#e5616a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #c84090 0%,#e5616a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c84090', endColorstr='#e5616a',GradientType=1 ); }
        .Common_questions ul {padding: 0 0 0 20px;margin: 0;}
        .Common_questions ul li{ list-style-type: disc;}
        /*================= Support Page Css End Here ==========================*/
        /*================= About Page Css Start Here ==========================*/
        .about_image {margin-bottom:30px;}
        /*================= About Page Css End Here ==========================*/
        /*================= Event Page Css Start Here ==========================*/
.event_box{margin:15px 0;padding-bottom:15px;background:url(../images/event_border.png) center bottom; background-repeat:no-repeat;}
.event_date{color:#D24D47;font-size:16px;text-align:right;}
.event_box:last-child{background:none;}
.event_img {width: 100%;height:200px; background: #F1EAF2;overflow: hidden;}

        /*================= Event Page Css End Here ==========================*/
        /*================= Checkout Page Css Start Here ==========================*/
        .Checkout_panel h3{color:#84c001; font-size: 22px;margin-bottom:16px;}
        .review_Order{background: #e9dae8;border-radius: 6px;padding: 15px;}
        .totalSpend {background: #fff;text-align:center;padding: 15px;border-radius: 6px;}
        .review_Order ul li {margin:0 0 20px; font-size: 18px;}
        .review_Order ul li b {float:right;width:29%; display: inline-block; text-align: right;}
        .review_Order ul li span{width:70%; display: inline-block;}
        .btn-success{ background:#84c102; cursor: pointer;}
        .totalSpend h5{margin-bottom:15px; font-size: 24px;}
        .shipping_method {margin-bottom: 30px;}
        .shipping_method b {float: right;}
        /*================= Checkout Page Css End Here ==========================*/
        /*================= 14.6.19 start ==========================*/
        .celebrate-form-sec .upload-img { border: none; background: none; color: #fff;}
        .celebrate-form-sec .upload-img span{color: #fff;}
        .edit-file  { padding-left: 23px;}
        .edit-file .input-group-btn { position: absolute;left: 0;}
        .edit-file .form-control.upload_bx.consent_dateClass { background: none; border: none; color: #fff;}
        .edit-file .browse.btn.btn-primary {background: none;padding-right: 150px;}
        /*================= 14.6.19 end ==========================*/
        /*================= 18.6.19 start ==========================*/

                #zoomImg .myImg {
                  border-radius: 5px;
                  cursor: pointer;
                  transition: 0.3s;
                }

                #zoomImg .myImg:hover {opacity: 0.7;}

                /* The Modal (background) */
                #zoomImg .modal {
                  display: none; /* Hidden by default */
                  position: fixed; /* Stay in place */
                  z-index: 1; /* Sit on top */
                  padding-top: 100px; /* Location of the box */
                  left: 0;
                  top: 0;
                  width: 100%; /* Full width */
                  height: 100%; /* Full height */
                  overflow: auto; /* Enable scroll if needed */
                  background-color: rgb(0,0,0); /* Fallback color */
                  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
                }

                /* Modal Content (image) */
                #zoomImg .modal-content {
                  margin:15px auto;
                  max-height: 500px;
                  overflow-y: auto;
                  display: block;
                  width: 80%;
                  max-width: 700px;
                }
                #zoomImg .img01 {
                    width: 100%;
                }
                /* Caption of Modal Image */
                #zoomImg .caption {
                  margin: auto;
                  display: block;
                  width: 80%;
                  max-width: 700px;
                  text-align: center;
                  color: #009ab1;
                  padding: 10px 0;
                }

                /* Add Animation */
                #zoomImg .modal-content, #zoomImg .caption {
                  -webkit-animation-name: zoom;
                  -webkit-animation-duration: 0.6s;
                  animation-name: zoom;
                  animation-duration: 0.6s;
                }
                /* The Close Button */
                #zoomImg .closeModal {
                    position: absolute;
                    top: 0px;
                    right: 10px;
                    color: #f1f1f1;
                    font-size: 30px;
                    font-weight: bold;
                    transition: 0.3s;
                }
                #zoomImg .closeModal:hover,
                #zoomImg .closeModal:focus {
                  color: #bbb;
                  text-decoration: none;
                  cursor: pointer;
                }

                .modal button.close {
                    background: #fff;
                    width:22px;
                    height:22px;
                    padding: 0;
                    opacity: inherit;
                    margin: 0;
                    line-height: 17px;
                    border-radius: 50%;
                    font-size: inherit;
                    color: #E5619B;
                    position: absolute;
                    right: -7px;
                    top: -8px;
                    border: 1px solid #E5619B;
                }
        /*================= 18.6.19 end ==========================*/
        .remove-design {color: red;cursor: pointer;}
        .view_earning_detail {cursor: pointer;}
        .ProductDetails i.fa, .search_item i.fa {color: #da5479 !important;}
        .rating-stars ul{margin-bottom: 0;}
        .Review_username p {margin: 0;}
        .View_Earnings_image img {width: 100%;height: 250px;object-fit: cover;}
        .my-earning-design .modal-header .modal-title {text-align: left;}
        .my-earning-design .modal-header { padding:0 0 10px;}
        .myImg { cursor: pointer;}
        .gender.pa_left {padding-left: 67px;}
        .col.col-xs-12.category_wise_design {cursor: pointer;}




        /*================= Responsive Css Start Here ==========================*/
        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
          #zoomImg .modal-content {
            width: 100%;
          }
        }
        @media (max-width:767px)
        {
          .Feature_box{width:100%;}
          .banner .dropdown.dropdown-lg .dropdown-menu{width:286px;}
          .Feature_box{width:100%;margi.layer-trigger-wrapper.imageDiv .deleteImage.fa.fa-times {
            color: #fff;margin:0 0 15px;}
            .Top_links {text-align: center;}
            .social_links, .footer p {text-align: center;}
            ul#Account_Settings, .tab-content, .designer_settings-panel .tab-content {width: 100%;}
          }
